* {
    margin: 0;
}

.App {
    width: 100%;
    min-height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.item-1 {
    background-color: gold;
}
.item-2 {
    background-color: blueviolet;
}
.item-3 {
    background-color: brown;
}